

/* ==========================================================================
   Dario's custom styles
   ========================================================================== */

.elemento {
	background-color: #00EE00;
	height: 300px;
	border: solid 1px white;
}















