/* Estilos principales */
/* Reset */
* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: "enso";
  src: url("../fuentes/enso.ttf") 
  format("truetype");
}

/* body */
body {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 1.2em;
}

figure img {
	height: auto;
	vertical-align: middle;
	width: 100%;
}

#contenedor {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

#centrado {
	//background-color: #2b2b2b;
	background-image: url("../images/bg.png");  
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 16%;
	right: 16%;
	z-index: -1;
}

/* header */
header#ElHeader {
	background-image: url("../images/header.png");    
	background-size: 100% 100%;
	height: 105px;
	color: white;
	text-align: center;
}

	header#ElHeader figure {

		display: inline-block;
		width: 40px;
		margin: 10px 12px 10px -70px;
	}

	header#ElHeader h1 {
		font-family: "enso";
		font-size: 3.1em;
		margin-left: -10px;
	}

	header#ElHeader h2 {
		font-size: 0.9em;
		margin-top: -10px;
		margin-right: -45px;
		text-align: right;
	}

	#headerTitle {
		vertical-align: middle;
		display: inline-block;
		margin: 10px;
	}

/*nav*/
nav {
	text-align: center;
	font-size: 1.3em;
}
	nav ul li{
		display: inline-block;
		margin: 12px 20px;
	}
	nav a{
		color: #fefefe;
		text-decoration: none; 
	}
	nav a:hover{
		color: #C44410;
		text-decoration: none; 
	}
	nav a:focus{
		color: #C44410;
		text-decoration: none; 
	}
	nav .selected {
		color: #C44410;
	}

section{
	
}	
	#sectionIndex {
		display: inline-block;
		text-align: center;
		position: relative;
		left: 25%;
		width: 50%;
		vertical-align: middle;
	}
	input{
		font-size: 1.2em;
	}
	article{
		margin: 45px 0;
		padding: 15px 0;
		background-color: #54adf7;
		position:relative;
		/*background-image: url("../images/coment.png");
		background-size: 100% auto;
		background-repeat: no-repeat;*/
	}
	article:nth-child(1) {
		margin-top: 10px;
	}

	article:last-child {
		margin-top: 5px;
	}

		article header{
			display: inline-block;
			margin-left: 1%;
		}

		article header figure img{
			vertical-align: top;
			width: 100%;
			height: auto;
		}

		article header figure{
			display: inline-block;
			margin: 6px 12px;
			text-align: center;
			width: 65%;
		}

		.like:hover {
			background: url("../images/like2.png");
			z-index: 3;
		}

		.dislike:hover {
			background: url("../images/dislike2.png");
			z-index: 3;
		}

		.estrella {
			margin-left: 14px;
		}

		article .contenido{
			vertical-align: top;
			display: inline-block;
			width: 75%;
			margin: 5px;
			padding-right: 5px;
		}

		article .diag_arriba {
			background: rgba(70,143,193,0);
			background: -moz-linear-gradient(-45deg, rgba(70,143,193,0) 0%, rgba(70,143,193,0) 50%, rgba(70,143,193,1) 50%, rgba(70,143,193,1) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(70,143,193,0)), color-stop(50%, rgba(70,143,193,0)), color-stop(50%, rgba(70,143,193,1)), color-stop(100%, rgba(70,143,193,1)));
			background: -webkit-linear-gradient(-45deg, rgba(70,143,193,0) 0%, rgba(70,143,193,0) 50%, rgba(70,143,193,1) 50%, rgba(70,143,193,1) 100%);
			background: -o-linear-gradient(-45deg, rgba(70,143,193,0) 0%, rgba(70,143,193,0) 50%, rgba(70,143,193,1) 50%, rgba(70,143,193,1) 100%);
			background: -ms-linear-gradient(-45deg, rgba(70,143,193,0) 0%, rgba(70,143,193,0) 50%, rgba(70,143,193,1) 50%, rgba(70,143,193,1) 100%);
			background: linear-gradient(135deg, rgba(70,143,193,0) 0%, rgba(70,143,193,0) 50%, rgba(70,143,193,1) 50%, rgba(70,143,193,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#468fc1', endColorstr='#468fc1', GradientType=1 );

			display: inline-block;
			position: absolute;
			height: 20px;
			width: 20px;
			left:  0;
			top: -20px;
		}

		article .diag_arriba_lado {

			background: #468fc1;
			left: 20px;
			height: 20px;
			position: absolute;
			top: -20px;
			width: 15%;
			z-index: -2;
		}

		article .diag_abajo {
			background: rgba(70,143,193,1);
			background: -moz-linear-gradient(-45deg, rgba(70,143,193,1) 0%, rgba(70,143,193,1) 49%, rgba(70,143,193,0) 50%, rgba(70,143,193,0) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(70,143,193,1)), color-stop(49%, rgba(70,143,193,1)), color-stop(50%, rgba(70,143,193,0)), color-stop(100%, rgba(70,143,193,0)));
			background: -webkit-linear-gradient(-45deg, rgba(70,143,193,1) 0%, rgba(70,143,193,1) 49%, rgba(70,143,193,0) 50%, rgba(70,143,193,0) 100%);
			background: -o-linear-gradient(-45deg, rgba(70,143,193,1) 0%, rgba(70,143,193,1) 49%, rgba(70,143,193,0) 50%, rgba(70,143,193,0) 100%);
			background: -ms-linear-gradient(-45deg, rgba(70,143,193,1) 0%, rgba(70,143,193,1) 49%, rgba(70,143,193,0) 50%, rgba(70,143,193,0) 100%);
			background: linear-gradient(135deg, rgba(70,143,193,1) 0%, rgba(70,143,193,1) 49%, rgba(70,143,193,0) 50%, rgba(70,143,193,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#468fc1', endColorstr='#468fc1', GradientType=1 );

			display: inline-block;
			position: absolute;
			height: 20px;
			width: 20px;
			right:  0;
			bottom: -20px;
		}

		article .diag_abajo_lado {

			background: #468fc1;
			right: 20px;
			height: 20px;
			position: absolute;
			bottom: -20px;
			width: 15%;
			z-index: -2;
		}

		article .diag_estadisticas {

			background: rgba(95,182,242,0);
			background: -moz-linear-gradient(-45deg, rgba(95,182,242,0) 0%, rgba(95,182,242,0) 50%, rgba(95,182,242,0.99) 51%, rgba(95,182,242,1) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(95,182,242,0)), color-stop(50%, rgba(95,182,242,0)), color-stop(51%, rgba(95,182,242,0.99)), color-stop(100%, rgba(95,182,242,1)));
			background: -webkit-linear-gradient(-45deg, rgba(95,182,242,0) 0%, rgba(95,182,242,0) 50%, rgba(95,182,242,0.99) 51%, rgba(95,182,242,1) 100%);
			background: -o-linear-gradient(-45deg, rgba(95,182,242,0) 0%, rgba(95,182,242,0) 50%, rgba(95,182,242,0.99) 51%, rgba(95,182,242,1) 100%);
			background: -ms-linear-gradient(-45deg, rgba(95,182,242,0) 0%, rgba(95,182,242,0) 50%, rgba(95,182,242,0.99) 51%, rgba(95,182,242,1) 100%);
			background: linear-gradient(135deg, rgba(95,182,242,0) 0%, rgba(95,182,242,0) 50%, rgba(95,182,242,0.99) 51%, rgba(95,182,242,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fb6f2', endColorstr='#5fb6f2', GradientType=1 );

			display: inline-block;
			height: 20px;
			position: absolute;
			right: 18%;
			top: -20px;
			width: 20px;

		}

		article .estadisticas{
			background-color: #5fb6f2;
			display: inline-block;
			height: 20px;
			position: absolute;
			right: 0;
			width: 18%;
			text-align: center;
			top: -20px;
		}

		.estadisticas figure {
			width:11px;
			height: auto;
			display: inline-block;
		}

		.estadisticas p {
			display: inline-block;
			margin: 0 6.5% 0 1%;
			width:0.5%;
			font-size: 0.7em;
			color: #aa4900;
		}

	#bajar {
		margin: 0 auto;
		width: 60px;
	}

footer{
	background-color: #593412;
	bottom: -50px;
	font-size: 1.4em;
	height: 50px;
	text-align: center;
	width: 100%;
	z-index: -2;   ////////////////////////////////////////////////////////////////////
}

	footer p{
		color: #c9c9c9;
		display: inline-block;
		width: 45%;
		margin: 10px 0;

	}

	footer a{
		color: #c9c9c9;
		text-decoration: none;
	}

	.copyright {
		color: white;
	}

	#footerIndex{
		position: fixed;
		bottom: 0;
	}


/*  Media querys */
@media all and (min-width: 1650px) {
	#centrado{
		left: 25%;
		right:25%;
	}
}

@media all and (max-width: 570px) {
	header#ElHeader {
		height: 90px;
	}
		header#ElHeader h1 {
			font-size: 2.4em;
		}
		header#ElHeader h2 {
			font-size: 0.8em;
		}
		header#ElHeader figure {
			width: 28px;	
			margin-left: -40px;
		}

	#contenedor {
		width: 95%;
	}

	nav {
		font-size: 1.1em;
	}
	nav ul li{
		margin: 12px 3%;
	}

	section{

	}
		article header figure{
			width: 45%;
		}

		article .contenido{
			width: 88%;
			margin-right: 0;
		}

		article .estadisticas{
			width: 26%;
		}

		article .diag_estadisticas {
			right: 26%;
		}

		#bajar {
			width: 50px;
		}
	footer{
		font-size: 1em;
		vertical-align: middle;
	}

	#centrado {
		height: 200%;
	}
}

@media all and (max-width: 355px) {
	header#ElHeader {
		height: 78px;
	}
		header#ElHeader h1 {
			font-size: 2.2em;
		}
		header#ElHeader h2 {
			font-size: 0.75em;
		}
		header#ElHeader figure {
			width: 25px;	
			margin-left: -30px;
		}
		#headerTitle {
			margin-top: 6px;
		}

	article .contenido{
		width: 90%;
		margin-left: 12px;
		font-size: 0.95em;
	}

	nav {
		font-size: 1em;
	}

	footer{
		font-size: 0.9em;
		vertical-align: middle;
	}
	#centrado {
		height: 200%;
	}
}
